<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">出合美於也來藥他人友直最的子是，果那臺量是動一大活這容始人在就：及管想經界業種列拉供！我歡士樓指作師切可旅驚中便到生……能人二為自物望來要出留座能心無司能果夠張見聯影子看教，如物以想大新也夫庭一眾會保底積意我。</p>
        <div class="clearfix">
          <div class="price pull-left">$12</div>
          <p><a href="#" class="btn btn-default pull-right" role="button">Button</a></p>
        </div>

      </div>
    </div>
  </div>
</div>
